@import './variables.scss';

.breed-item-info {
    position: relative;
    padding: 40px;
    border: 2px solid $pink_hover;
    border-radius: 20px;
    @media screen and (max-width: 650px) {
        padding: 25px;
    }
    &__img {
        height: 360px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
        margin-bottom: 40px;
        @media screen and (max-width: 650px) {
            height: 260px;
        }
    }
    &__name {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 20px;
        font-size: 36px;
        font-weight: 700;
        width: max-content;
        background-color: $white;
        z-index: 2;
        @media screen and (max-width: 650px) {
            font-size: 20px;
            top: -15px;
        }
    }
    &__description {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        color: $gray;
        @media screen and (max-width: 650px) {
            font-size: 16px;
        }
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        @media screen and (max-width: 650px) {
            grid-template-columns: 1fr;
        }
    }
    .info-item {
        font-size: 16px;
        line-height: 24px;
        color: $gray;
        &.temp {
            display: flex;
            flex-direction: column;
        }
        strong {
            display: inline-block;
            margin-right: 10px;
            color: $black;
            font-weight: 600;
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}