@import './variables.scss';

body {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f6f3;
}

.container {
    max-width: 1300px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 60%;
    @media screen and (max-width: 1230px) {
        grid-template-columns: 1fr;
    }
}

.title-empty {
    width: 100%;
    padding: 18px 20px;
    font-size: 18px;
    line-height: 24px;
    color: $gray;
    background-color: #F8F8F7;
    border-radius: 8px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 30px;
    position: sticky;
    @media screen and (max-width: 1230px) {
        display: none;
    }
    &__home-link {
        display: flex;
        align-items: center;
        width: max-content;
        font-size: 20px;
        font-weight: 700;
        color: $black;
        margin-bottom: 80px;
        transition: color 0.2s linear;
        @media screen and (max-width: 1230px) {
            margin-bottom: 30px;
        }
        &:hover {
            color: $pink;
        }
        &::before {
            content: '';
            width: 24px;
            min-width: 24px;
            height: 24px;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.84082 12.4577C7.84082 9.90778 9.9079 7.8407 12.4578 7.8407L19.3832 7.8407C21.9331 7.8407 24.0002 9.90778 24.0002 12.4577C24.0002 15.0075 21.9331 17.0746 19.3832 17.0746H12.4578C9.9079 17.0746 7.84082 15.0075 7.84082 12.4577Z' fill='%23FF868E'/%3E%3Cpath d='M12.4578 24C9.9079 24 7.84082 21.9329 7.84082 19.383L7.84082 12.4576C7.84082 9.90772 9.9079 7.84063 12.4578 7.84063C15.0077 7.84063 17.0747 9.90772 17.0747 12.4576V19.383C17.0747 21.9329 15.0077 24 12.4578 24Z' fill='%23FF868E'/%3E%3Cpath d='M11.5422 2.8856C11.5422 4.47927 10.2503 5.7712 8.6566 5.7712C7.06292 5.7712 5.771 4.47927 5.771 2.8856C5.771 1.29193 7.06292 0 8.6566 0C10.2503 0 11.5422 1.29193 11.5422 2.8856Z' fill='%23FF868E'/%3E%3Cpath d='M5.7712 16.7366C5.7712 18.3302 4.47927 19.6222 2.8856 19.6222C1.29193 19.6222 0 18.3302 0 16.7366C0 15.1429 1.29193 13.851 2.8856 13.851C4.47927 13.851 5.7712 15.1429 5.7712 16.7366Z' fill='%23FF868E'/%3E%3Cpath d='M19.6223 2.8856C19.6223 4.47927 18.3303 5.7712 16.7367 5.7712C15.143 5.7712 13.8511 4.47927 13.8511 2.8856C13.8511 1.29193 15.143 0 16.7367 0C18.3303 0 19.6223 1.29193 19.6223 2.8856Z' fill='%23FF868E'/%3E%3Cpath d='M5.7712 8.65684C5.7712 10.2505 4.47927 11.5424 2.8856 11.5424C1.29193 11.5424 0 10.2505 0 8.65684C0 7.06317 1.29193 5.77124 2.8856 5.77124C4.47927 5.77124 5.7712 7.06317 5.7712 8.65684Z' fill='%23FF868E'/%3E%3C/svg%3E");background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.84082 12.4577C7.84082 9.90778 9.9079 7.8407 12.4578 7.8407L19.3832 7.8407C21.9331 7.8407 24.0002 9.90778 24.0002 12.4577C24.0002 15.0075 21.9331 17.0746 19.3832 17.0746H12.4578C9.9079 17.0746 7.84082 15.0075 7.84082 12.4577Z' fill='%23FF868E'/%3E%3Cpath d='M12.4578 24C9.9079 24 7.84082 21.9329 7.84082 19.383L7.84082 12.4576C7.84082 9.90772 9.9079 7.84063 12.4578 7.84063C15.0077 7.84063 17.0747 9.90772 17.0747 12.4576V19.383C17.0747 21.9329 15.0077 24 12.4578 24Z' fill='%23FF868E'/%3E%3Cpath d='M11.5422 2.8856C11.5422 4.47927 10.2503 5.7712 8.6566 5.7712C7.06292 5.7712 5.771 4.47927 5.771 2.8856C5.771 1.29193 7.06292 0 8.6566 0C10.2503 0 11.5422 1.29193 11.5422 2.8856Z' fill='%23FF868E'/%3E%3Cpath d='M5.7712 16.7366C5.7712 18.3302 4.47927 19.6222 2.8856 19.6222C1.29193 19.6222 0 18.3302 0 16.7366C0 15.1429 1.29193 13.851 2.8856 13.851C4.47927 13.851 5.7712 15.1429 5.7712 16.7366Z' fill='%23FF868E'/%3E%3Cpath d='M19.6223 2.8856C19.6223 4.47927 18.3303 5.7712 16.7367 5.7712C15.143 5.7712 13.8511 4.47927 13.8511 2.8856C13.8511 1.29193 15.143 0 16.7367 0C18.3303 0 19.6223 1.29193 19.6223 2.8856Z' fill='%23FF868E'/%3E%3Cpath d='M5.7712 8.65684C5.7712 10.2505 4.47927 11.5424 2.8856 11.5424C1.29193 11.5424 0 10.2505 0 8.65684C0 7.06317 1.29193 5.77124 2.8856 5.77124C4.47927 5.77124 5.7712 7.06317 5.7712 8.65684Z' fill='%23FF868E'/%3E%3C/svg%3E");
        }
    }
    &__title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 5px;
    }
    &__description {
        font-size: 16px;
        color: $gray;
        margin-bottom: 60px;
        @media screen and (max-width: 1230px) {
            margin-bottom: 30px;
        }
    }
}

.nav {
    &__list {
        display: flex;
        align-items: center;
        gap: 16px;
        @media screen and (max-width: 500px) {
            flex-direction: column;
        }
    }
    &__item {
        @media screen and (max-width: 500px) {
            width: 100%;
        }
        &:first-child {
            .link__img-container {
                background-color: #b4b7ff;
                border-color: #e1e2ff;
            }
        }
        &:nth-child(2) {
            .link__img-container {
                background-color: #97eab9;
                border-color: #d5f7e3;
            }
        }
        &:last-child {
            .link__img-container {
                background-color: #ffd280;
                border-color: #ffedcc;
            }
        }
        .link {
            &:hover {
                .link__img-container {
                    border-color: $pink_hover;
                }
                .link__button {
                    background-color: $pink_hover;
                }
            }
            &.router-link-active {
                .link__img-container {
                    border-color: $pink_hover;
                }
                .link__button {
                    color: $white;
                    background-color: $pink;
                }
            }
            &__img-container {
                width: 140px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 4px solid;
                border-color: transparent;
                border-radius: 16px;
                margin-bottom: 10px;
                transition: border-color 0.2s linear;
                @media screen and (max-width: 500px) {
                    display: none;
                }
            }
            &__button {
                width: 140px;
                padding: 10px;
                text-transform: uppercase;
                text-align: center;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 2px;
                border-radius: 8px;
                background-color: $white;
                color: $pink;
                transition: color 0.2s linear, background-color 0.2s linear;
                @media screen and (max-width: 500px) {
                    width: 100%;
                }
            }
        }
    }
}

.main-content {
    height: 100vh;
    padding: 30px;
    @media screen and (max-width: 1230px) {
        padding: 30px 0;
    }
}

.page-container {
    padding: 20px;
    border-radius: 20px;
    background-color: $white;
}

.page-header {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.cats-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width: 800px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 500px) {
        grid-template-columns: 1fr;
    }
    gap: 15px;
    margin-bottom: 20px;
    &__item {
        position: relative;
        height: 140px;
        border-radius: 15px;
        cursor: pointer;
        @media screen and (max-width: 1230px) {
            height: 240px;
        }
        @media screen and (max-width: 800px) {
            height: 180px;
        }
        &::before {
            content: '';
            display: block;
            inset: 0;
            position: absolute;
            background-color: transparent;
            z-index: 2;
            border-radius: 15px;
            transition: background-color 0.2s linear;
        }
        &::after {
            width: 40px;
            height: 40px;
            background-color: $white;
            border-radius: 8px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-position: center;
            z-index: 3;
        }
        &.likes::after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_2)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.47715 4.47715 0 10 0C15.5229 0 20 4.47715 20 10C20 15.5229 15.5229 20 10 20C4.47715 20 0 15.5229 0 10ZM10 1.33333C5.21353 1.33333 1.33333 5.21353 1.33333 10C1.33333 14.7865 5.21353 18.6667 10 18.6667C14.7865 18.6667 18.6667 14.7865 18.6667 10C18.6667 5.21353 14.7865 1.33333 10 1.33333ZM6.66667 8H5.33333V6.66667H6.66667V8ZM14.6667 8H13.3333V6.66667H14.6667V8ZM6.13333 11.0667L6.53333 11.6C8.26667 13.9111 11.7333 13.9111 13.4667 11.6L13.8667 11.0667L14.9333 11.8667L14.5333 12.4C12.2667 15.4222 7.73333 15.4222 5.46667 12.4L5.06667 11.8667L6.13333 11.0667Z' fill='%23FF868E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_2'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        &.dislikes::after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1_6)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.47715 4.47715 0 10 0C15.5229 0 20 4.47715 20 10C20 15.5229 15.5229 20 10 20C4.47715 20 0 15.5229 0 10ZM10 1.33333C5.21353 1.33333 1.33333 5.21353 1.33333 10C1.33333 14.7865 5.21353 18.6667 10 18.6667C14.7865 18.6667 18.6667 14.7865 18.6667 10C18.6667 5.21353 14.7865 1.33333 10 1.33333ZM6.66667 8H5.33333V6.66667H6.66667V8ZM14.6667 8H13.3333V6.66667H14.6667V8ZM5.06667 13.4667L5.46667 12.9333C7.73333 9.91113 12.2667 9.91113 14.5333 12.9333L14.9333 13.4667L13.8667 14.2667L13.4667 13.7333C11.7333 11.4222 8.26667 11.4222 6.53333 13.7333L6.13333 14.2667L5.06667 13.4667Z' fill='%23FF868E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1_6'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        &.favorite::after {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='17' viewBox='0 0 20 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.38071 1.30769C3.14541 1.30769 1.33333 3.08492 1.33333 5.27724C1.33333 6.33003 1.75975 7.33969 2.51878 8.08416L10 15.4215L17.4812 8.08416C18.2403 7.33969 18.6667 6.33003 18.6667 5.27724C18.6667 3.08492 16.8546 1.30769 14.6193 1.30769C13.5459 1.30769 12.5164 1.72591 11.7573 2.47034L10.4714 3.73158C10.2111 3.98692 9.78893 3.98692 9.5286 3.73158L8.24267 2.47035C7.4836 1.72591 6.45414 1.30769 5.38071 1.30769ZM0 5.27724C0 2.3627 2.40903 0 5.38071 0C6.80773 0 8.1764 0.555994 9.18547 1.54567L10 2.34456L10.8145 1.54567C11.8236 0.555993 13.1923 0 14.6193 0C17.591 0 20 2.3627 20 5.27724C20 6.67682 19.4331 8.01917 18.424 9.00883L10.4714 16.8085C10.2111 17.0638 9.78893 17.0638 9.5286 16.8085L1.57597 9.00883C0.566893 8.01917 0 6.67682 0 5.27724Z' fill='%23FF868E'/%3E%3C/svg%3E");
        }
        &:hover {
            &::before {
                background-color: rgba($pink, 0.6);
            }
            &::after {
                content: '';
                display: block;
            }
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }
}

.user-logs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    column-gap: 10px;
    padding: 18px 25px;
    background-color: #f8f8f7;
    border-radius: 8px;
    &:not(:last-child) {
        margin-bottom: 8px;
    }
    &.likes {
        .user-logs-item__logo {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10ZM10 1.33333C5.21353 1.33333 1.33333 5.21353 1.33333 10C1.33333 14.7865 5.21353 18.6667 10 18.6667C14.7865 18.6667 18.6667 14.7865 18.6667 10C18.6667 5.21353 14.7865 1.33333 10 1.33333ZM6.66667 8H5.33333V6.66667H6.66667V8ZM14.6667 8H13.3333V6.66667H14.6667V8ZM6.13333 11.0667L6.53333 11.6C8.26667 13.9111 11.7333 13.9111 13.4667 11.6L13.8667 11.0667L14.9333 11.8667L14.5333 12.4C12.2667 15.4222 7.73333 15.4222 5.46667 12.4L5.06667 11.8667L6.13333 11.0667Z' fill='%2397EAB9'/%3E%3C/svg%3E%0A");
        }
    }
    &.dislikes {
        .user-logs-item__logo {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10ZM10 1.33333C5.21353 1.33333 1.33333 5.21353 1.33333 10C1.33333 14.7865 5.21353 18.6667 10 18.6667C14.7865 18.6667 18.6667 14.7865 18.6667 10C18.6667 5.21353 14.7865 1.33333 10 1.33333ZM6.66667 8H5.33333V6.66667H6.66667V8ZM14.6667 8H13.3333V6.66667H14.6667V8ZM5.06667 13.4667L5.46667 12.9333C7.73333 9.91111 12.2667 9.91111 14.5333 12.9333L14.9333 13.4667L13.8667 14.2667L13.4667 13.7333C11.7333 11.4222 8.26667 11.4222 6.53333 13.7333L6.13333 14.2667L5.06667 13.4667Z' fill='%23FFD280'/%3E%3C/svg%3E ");
        }
    }
    &.favorite {
        .user-logs-item__logo {
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.38071 1.33333C3.14541 1.33333 1.33333 3.14541 1.33333 5.38071C1.33333 6.45414 1.75975 7.48361 2.51878 8.24264L10 15.7239L17.4812 8.24264C18.2402 7.48361 18.6667 6.45414 18.6667 5.38071C18.6667 3.14541 16.8546 1.33333 14.6193 1.33333C13.5459 1.33333 12.5164 1.75975 11.7574 2.51878L10.4714 3.80474C10.2111 4.06509 9.78895 4.06509 9.5286 3.80474L8.24264 2.51878C7.48361 1.75975 6.45414 1.33333 5.38071 1.33333ZM0 5.38071C0 2.40903 2.40903 0 5.38071 0C6.80777 0 8.17637 0.566895 9.18545 1.57597L10 2.39052L10.8146 1.57597C11.8236 0.566894 13.1922 0 14.6193 0C17.591 0 20 2.40903 20 5.38071C20 6.80777 19.4331 8.17637 18.424 9.18545L10.4714 17.1381C10.2111 17.3984 9.78895 17.3984 9.5286 17.1381L1.57597 9.18545C0.566893 8.17637 0 6.80777 0 5.38071Z' fill='%23FF868E'/%3E%3C/svg%3E%0A");
        }
    }
    &__info {
        display: flex;
    }
    &__time {
        margin-right: 30px;
    }
    &__text {
        color: $gray;
        span {
            font-weight: 500;
            color: $black;
        }
    }
    &__logo {
        width: 20px;
        height: 20px;
        min-width: 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
}

// .cats-list {
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     grid-template-rows: repeat(6, 1fr);
//     grid-column-gap: 20px;
//     grid-row-gap: 20px;
//     img {
//         width: 100%;
//         height: 100%;
//         border-radius: 20px;
//     }
//     &__item {
//         &--1 { grid-area: 1 / 1 / 3 / 2; max-width: 200px; max-height: 300px; }
//         &--2 { grid-area: 1 / 2 / 2 / 3; max-width: 200px; max-height: 140px; }
//         &--3 { grid-area: 1 / 3 / 2 / 4; max-width: 200px; max-height: 140px; }
//         &--4 { grid-area: 2 / 2 / 4 / 4; max-width: 420px; max-height: 300px; }
//         &--5 { grid-area: 3 / 1 / 4 / 2; max-width: 200px; max-height: 140px; }
//         &--6 { grid-area: 4 / 1 / 5 / 2; max-width: 200px; max-height: 140px; }
//         &--7 { grid-area: 4 / 2 / 5 / 3; max-width: 200px; max-height: 140px; }
//         &--8 { grid-area: 4 / 3 / 6 / 4; max-width: 200px; max-height: 300px; }
//         &--9 { grid-area: 5 / 1 / 7 / 3; max-width: 420px; max-height: 300px; }
//         &--10 { grid-area: 6 / 3 / 7 / 4; max-width: 200px; max-height: 140px; }
//     }
// }